* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --height-nav: 55px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.top-nav {
  width: 100%;
  height: var(--height-nav);
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(107, 107, 107, 0.596);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
}

/* ------------- loading layer ------------- */
.loading-layer {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4b616e;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.loading-layer-hide {
  animation: hide-loading-layer 0.3s 0.1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hide-loading-layer {
  to {
    transform: translateY(-100%);
  }
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background-color: white;
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*  -------------------------- */

.title {
  margin-left: 10px;
  font-size: 28px;
  color: #4646469c;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  padding: 10px;
  position: relative;
}

/* -------------------------- */
.container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.aside-left {
  width: 15%;
  height: 100%;
  background-color: #343a40;
}
.middle-section {
  width: 100%;
  height: calc(100vh - var(--height-nav));
  padding: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

/* ----------------------- note ----------------------- */
.note-show-container {
  width: 100%;
  border-radius: 10px;
}

.note-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 101%;
}

.note-show-container > .note {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.note-show-container > .note > .note-header {
  --title-height: 50px;

  width: 100%;
  height: var(--title-height);
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 10px;
  color: white;
}

.note-show-container > .note > .note-header > h3 {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-show-container > .note > .note-header > span {
  display: flex;
  flex-direction: row;
}

.note-show-container > .note > .note-header > span > button {
  height: 30px;
  aspect-ratio: 1/1;
  font-size: 19px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.note-show-container > .note > .note-body {
  width: 100%;
  height: calc(100% - var(--title-height));
  padding: 10px;
  color: white;
}

.normal {
  background-color: rgb(0, 158, 0);
}
.warn {
  background-color: rgb(218, 178, 3);
}
.important {
  background-color: rgb(255, 136, 0);
}
.danger {
  background-color: rgb(252, 73, 73);
}
/* -------------------- map ----------------------- */
.map-container {
  position: relative;

  flex-grow: 1;
  width: 40%;
  height: 100% !important;
}
.gg-map-iframe {
  height: 100%;
  width: 100%;
}

/* -------------------- items --------------------- */
.trading-card-container {
  width: 60%;
}

.card {
  width: calc(100% - 20px);
  border: 1px solid rgba(107, 107, 107, 0.596);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-header {
  width: 100%;
  padding: 10px 10px 10px 20px;
  margin-left: 10px;
  border-left: 4px solid rgb(0, 196, 0);
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  border-left: 4px solid rgb(0, 196, 0);
  margin-left: 10px;
}

.card-body p {
  margin: 10px 20px 10px 20px;
}

/* ------------ aside left ----------- */
.logo {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid white;
}

.create-new-button {
  width: 90%;
  height: 40px;
  margin: 20px 0 20px 5%;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.692);
}

.aside-option-container {
  width: 100%;
  padding: 5px 15px 15px 15px;
}

.aside-option-container .year {
  width: 100%;
}

/* ----------- dropdown ------------ */
.aside-option-container .dropdown-menu {
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.aside-option-container .dropdown-menu > .title {
  color: white;
  font-size: 18px;
  background-color: white;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
.aside-option-container .dropdown-menu > .menu {
  padding-left: 20px;
  height: 0;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
}
.aside-option-container .dropdown-menu > .menu > p {
  padding: 3px 0 3px 0;
  cursor: pointer;
  color: white;
}

.active {
  opacity: 1 !important;
  height: 160px !important;
  overflow: visible !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.479);
}
/* ----------------------- */
.aside-option-container > .aside-pages {
  height: 40px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 5px 0;
  font-weight: bold;
  transition: 0.2s;
  border: 3px solid #343a40;
  cursor: default;
}

.aside-option-container > .aside-pages:hover {
  padding-left: 10px;
  border-left: 3px solid #007bff;
}

.aside-pages-active {
  background: rgb(60, 166, 255);
  background: linear-gradient(
    90deg,
    rgba(60, 166, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-left: 10px;
  border-left: 3px solid #007bff !important;
}

/* -------------------------chart--------------------------- */
.chart-container {
  width: 40%;
  flex-grow: 1;
}
#body_trading_chart {
  height: 100%;
}
